body{
    background-image: url(https://i.pinimg.com/originals/6f/ab/2d/6fab2df947f090e2c66d6d1e86b9407a.jpg);
    font-family: 'Lobster', cursive;
    color:goldenrod
    /* image credit-Yoko Honda - M̲elt */
}
#answer{
    background-color:gray;
    text-align: center;
}
.sound{
    height:10px;
    width:10px;
}

#gameboard{
 background-color: #ffd1f6;
}

#footer{
    position: fixed;
  left: 0;
  bottom: 0;
  
  width: 100%;
  color:goldenrod;
  background-color: #ffd1f6;
  text-align: center;
}